*{
  margin:0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  width: 100%;
  background-color: #031A30;
}

html {
  box-sizing: border-box;
}

section {
  padding: 0 15%;
  background-color: #031A30;
}

nav {
  display: flex;
  color: white;
  justify-content: space-between;
  background-color: #35b789;
  padding: 0 15%;
  align-items: center;
}

.navegacion ul {
  display: flex;
  list-style-type: none;
}

.navegacion ul li {
  padding: 0 10px;
  font-weight: bold;
}

.bienvenida {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  display: flex;
  left: -190.5px;
  box-sizing: content-box;
  width: 100%;
  min-height: 100vh;
}

.titulo__parte2 {
  text-align: center;
  color: #ffffff;
}

.titulo__descripcion {

  color: #ffffff;
  text-align: center;
}

.logos__enlaces1 {
  display: flex;
}

.logos__enlaces2 {
  display: flex;
}

.logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.primeraparte {
  background-color: #031A30;
  height: 100%;
  box-sizing: content-box;
}

.presentacion article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.presentacion .contenedor {
  max-width: 50%;
  min-width: 50%;
}

@media (max-width: 700px) {
  .presentacion .contenedor {
    max-width: 100%;
    min-width: 100%;

  }
  section{
    padding: 0;
  }
}

.presentacion .muestra {

  padding: 40px;
}

.presentacion .muestra img {
  max-width: 100%;
  height: auto;

}

.titulo {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  padding-left: 15px;
  padding-top: 15px;
  color: white;
  background-color: #031A30;
}

.video__muestra {
  text-align: center;
  margin: 0;
  padding: 0;
}

.descripcion {
  text-align: center;
  color: #ffffff;
}

.menciones {
  text-align: center;
  color: #d1d1d1;
}

ul,ol{
  list-style: none;
}



.diapositivaS{

  width: 100%;
  position: relative;



}
.diapositiva li{
  overflow: hidden;
}




.diapositiva ul, li{
  width: 100%
}

.diapositiva li, img{
  width: 100%;
}

.arrow-left, .arrow-right{
  position: absolute;
  justify-content: center;

  display: flex;
  color: #fff;
  font-size: 40px;
  z-index: 1;
  cursor: pointer;
  align-items: center;


}

.arrow-left{
  left: 100px;

}
.arrow-right{
  right: 100px;


}


